@font-face{
    font-family: 'Inter', sans-serif;
    src: ('https://fonts.google.com/specimen/Inter'); 
}

body, html{
    margin: 0;
    padding:0;
    font: 16px 'Inter', sans-serif;
	height: 100vh;
}

h1, h2, h3, h4{
    padding: 0;
    margin: 0;
}

.container {
    width: 85%;
    margin: 0px auto;
	/*min-width serve para definir uma largura mínima*/
	min-width: 720px;
}

    /* _HEADER_ */
header{
    /* #1f212e */
    width: 100%;
    height: 35%;
    padding-top: 50px;
}

#menu ul{
    padding: 0px;
    margin: 0px;
    list-style:none;
    display: flex;
    flex-wrap: nowrap;
}

#menu ul li {
    width: 100%;
}

    /* Theme-Top */
.dark-theme-top {
    background-color: #1f212e;
}

.dark-theme-top h1 {
    color: #FFF;
}

.dark-theme-top .switchmode{
    color: #fffeff;
}

.dark-theme {
    color: #777;
    background: #1e202a;
}

.light-theme-top{
    background-color: #f5f7ff;
}

.light-theme{
    background: #FFF;
}

    /* _BUTTON SWITCH MODE_ */  
ul li.switchmode{
    text-align: right;
    margin-right: 5px;
    font-weight: 600;
}

.switch-span{
    display: inline-block;
    padding: 10px;
}

.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
  
.switch + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
    margin: -5px;
}

.switch--mode + label {
    padding: 2px;
    width:46px;
    height:21px;
    border-radius: 60px;
}

.switch--mode + label:before,
.switch--mode + label:after {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 1px;
    content: '';
}

.switch--mode + label:before {
    right: 2px;
    background-color: #3cbfa8;
    border-radius: 60px;
    transition: all 0.4s;
}
.switch--mode + label:after {
    display: block;
    padding: 1px;
    margin-top: 2px;
    margin-left: 2px;
    width: 15px;
    height: 15px;
    background-color: #1f212e;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.switch--mode:checked + label:after {
    transform: translateX(25px);
}

    /* Brand and total followers */
#menu h1 {
    font-size: 25px;
    font-weight: 650;
}

#menu h2{
    color: #8c92b4;
    font-weight: 550;
    font-size: 16px;
}

    /* __CARDS__  */
#cards{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:space-between;
}

.card{
    text-align: center;
    margin-top: -125px;
    margin-bottom: 50px;
    height: 230px;
    width: 23%;
    border-radius: 0 0px 10px 10px;
}

.card:hover{
    transform: scale(1.07);
}

    /* Themes-cards */
/* -light- */
.card-light{
    background-color: #f0f2fa;
}

.card-light:hover{
    background-color: #d9ddee;
}

.card-light h1{
    color: #1e202a;
}

.card-light p{
    color: #abb1d1;
}

/* -dark- */
.card-dark{
    background-color: #252b43;
}

.card-dark:hover{
    background-color:#333a56;
}

.card-dark h1{
    color: #fffeff;
}

.card-dark p{
    color: #8c92b4;
}

    /* Social-media */
.social-media{
    display: block;
    padding: 20px 0;
}

.social-media img{
    padding-right: 5px;
    vertical-align: bottom;
}

.social-media p{
    margin-left: 7px;
    font-size: 13px;
    font-weight: 550;
}

#cards h1{
    margin-top: -5px;
    font-size: 55px;
}

#cards h2{
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
    color: #8c92b4;
}

#cards h3.up{
    font-size: 14px;
    color: #45a192;
    padding: 13px;
}

#cards h3.down{
    font-size: 14px;
    color: #99283c;
    padding: 13px;
}

    /* __Colors Social Media__ */
.card.facebook{
    border-top: 5px solid #1690f5;
    border-radius: 5px;
}

.card.twitter{
    border-top: 5px solid #1ea1f1;
    border-radius: 5px;
}

.card.instagram{
    border-top: 5px solid #ef9676;
    border-radius: 5px;
}

.card.youtube{
    border-top: 5px solid #c4062c;
    border-radius: 5px;
}

    /* __Overview - Today__ */
#today .overview{
    font-size: 24px;
    margin-top: -5px;
}

.overview-dark{
    color:#fffeff;
}

.overview-light{
    color: #1e202a;
}

    /* SMALL-CARDS */
.small-cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.today-card {
    height: 130px;
    width: 23%;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px;
}

.today-card:hover {
    transform: scale(1.05);
}

.today-card h2{
    display: inline-block;
    width: 80%;
    color: #8c92b4;
    font-weight: 550;
    font-size: 16px;
}

.today-card img{
    display: inline-block;
    vertical-align: middle;
}

.today-card h1{
    display: inline-block;
    width: 40%;
    font-size: 40px;
    margin-top: 25px;
}

.today-card h3.up{
    display: inline-block;
    font-size: 14px;
    width: 50%;
    color: #45a192;
    text-align: end;
}

 .today-card h3.down{
    display: inline-block;
    font-size: 14px;
    width: 50%;
    text-align: end;
    color: #99283c;
}


    /* responsive mode */

@media (max-width: 600px) {
    
    .container{
        padding: 15px;
    }

    #menu ul {
        width:90%;
        flex-wrap: wrap;
    }

    #menu ul li {
        width: 50%;
    }

    #menu ul li.item{
        margin-bottom: 10px;
        padding-bottom: 15px;
        border: 1px solid gray;
    }

    #menu ul li.switchmode{
        text-align: start;
        float: left;
    }
}


